@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <h1>Tabla de Órdenes de Fabricación</h1>

    <!-- Buscador -->
    <div class="form-group">
        <input type="text" id="txtBusqueda" class="form-control" placeholder="Buscar...">
    </div>

    <div id="listTable"></div>
</div>

<!-- Código JavaScript para filtrar las filas de la tabla según el texto de búsqueda -->
<script>

    var urlGet = "@Url.Content("~/OrderManufacturing/List")"
    var urlDelete = "@Url.Content("~/OrderManufacturing/Delete")"


    function Get() {
        fetch(urlGet)
            .then(data => {
                return data.text();
            })
            .then(data => {
                document.getElementById('listTable').innerHTML = data;
            })
    }

    function onDelete(id) {
        fetch(urlDelete, {
            method: "POST",
            body: JSON.stringify({
                Id: id
            }),
            headers: {
                "Accept": "application/json",
                "Content-Type": "application/json"
            }
        }).then(resp => {
            if (resp.ok) {
                return resp.text();
            }
            else {
                alert("Error al ejecutar :(")
            }
        }).then(data => {
            if (data != "1") {
                alert(data)
            } else {
                document.location.href = "@Url.Content("~/")"
            }

        })
    }


    Get();
</script>